/* Стилизация кнопки */

.btn {
    min-width: 189px;
    height: 48px;

    background: var(--blue);
    border-radius: 8px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: var(--white);

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 57px;
    padding-right: 57px;

    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn--secondary {
    background: var(--purple);
}

.btn--alternate {
    background: none;
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.btn:hover {
    background-color: #2342C0;
}

.btn--secondary:hover {
    background-color: #5028C6;
}

.btn--alternate:hover {
    background: none;
    border: 1px solid var(--black);
}

.btn:disabled{
    opacity: 0.5;
    pointer-events: none;
}